* {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    box-sizing: border-box;
}

.textbox {
    width: 800px;
    padding: 20px;
    margin: auto;
    border-radius: 25px;
}

.thebody{
    display: inline-block;
    background-color: skyblue;
    border-radius: 25px;
}

img {
    margin: 20px;
    border-radius: 25px;
}

img.goth {
    max-width: 30%;
    max-height: 60%;
}

ul {
    display: inline-box;
    list-style: none;
    padding: 0px;
    margin: 10px;
    background-color: lightskyblue;
}

li {
    display: inline;
    border-radius: 25px;
    padding: 5px;
    margin: 5px;
    height: 40px;
    width: 110px;
}

li :hover{
    background-color: roy;
    color: white;
}