* {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    box-sizing: border-box;                     /*Used to identify the true dimensions of the box without having to add h + w + border  + padding */
}
.thebody{
    display: inline-block;
    background-color: skyblue;
    border-radius: 25px;
}

p{
    line-height: 1.2em;
}

.greetings {
    border-radius: 25px;
    background-color: royalblue;
    Color:white;
    padding: 20px;
    margin: 50px;
    /*animation: rainbow 10s linear infinite;*/
}

img {
    border-radius: 25px;
}

.textbox {
    display: inline-box;
    padding: 20px;
    margin: 20px;
    width: 800px;
    border-radius: 25px;
}

ul {
    display: inline-box;
    border-radius: 25px;
    list-style: none;
    padding: 10px;
    margin: 10px;
    border: 2px solid royalblue;
}

li {
    display: inline;
    font-size: 16px;
    padding-top: 10px;
    margin: 20px;
    height: 50px;
    width: 100px;
}

li :hover{
    background-color: royalblue;
    color: white;
}
